@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-bottom: 15px; padding-top: 15px">
  <h2>MVC Common Helper</h2>
  <p class="lead">We can render html from razor view in WebAPI using <a href="https://www.nuget.org/packages/MVCCommonHelper/">MCV Common Helper</a> package.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Getting started</h3>
    <ul>
      <li>Install MVCCommonHelper package.</li>
      <li>Create object instance for CommonHelper class and call <b>GenerateViewToString</b> method with required parameters as shown below<br />
        <img src="~/Content/code-snippet.JPG" /> <br /> <br /> 
      </li>
      <li>
        That's it, you got rendered html from razor view. Please run this application and click on the "Contact WebAPI" link to see the sample webapi output.
        <img src="~/Content/output.JPG" />
      </li>
    </ul>
  </div>
</div>